<div class="row drone-box">
	<div class="col s6">
     <a class="btn-floating btn-large waves-effect waves-light blue tooltipped"
     data-delay="50" data-position="bottom" data-tooltip="Takeoff" materialize="tooltip"
     (click)="onTakeoff()"><i class="material-icons">near_me</i></a>
	</div>

  <div class="col s6">
     <a class="btn-floating btn-large waves-effect waves-light amber tooltipped" data-delay="50" data-position="bottom" data-tooltip="Add Waypoints" materialize="tooltip"
     (click)="onWaypoints()"><i class="material-icons">explore</i></a>
  </div>
</div>
