<div id="dialog" class="modal" materialize="modal" [materializeActions]="modalActions">
    <div class="modal-content">
      <h5 class="center-align">{{ message }}</h5>
    </div>

    <form materialize *ngIf="inputEnabled">
      <div class="row">

          <div class="input-field col s10 offset-s1">
              <label for="password"> Password </label>
              <input (input)="setPassword($event)" id="password" type="password"/>
            </div>

            <div class="input-field col s10 offset-s1">
              <label for="retype"> Retype Password </label>
              <input (input)="setRetype($event)" id="retype" type="password"/>
            </div>
    </div>
    </form>
  <div class="modal-footer">
    <a (click)="confirm()" class="modal-action modal-close btn teal ">Continue</a>
    <a (click)="cancel()" class="modal-action modal-close waves-effect waves-red btn red lighten-1">Cancel</a>
  </div>
  </div>
