agm-map{
	height: 100vh;
}

.control-buttons{
	position: absolute;
	bottom: 35px;
	right: 35px;
	z-index: 2;
}

.profile-button{
	position: absolute;
	top: 35px;
	right:35px;
	z-index: 2;
	height: 10vh;
}
