<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row login-background">
	<div class="col s4 offset-s4 login-card">
		<div class="card">
			<div>
				<div class="dronesym-logo">
					<img class="img-responsive" src="./assets/img/dronesym_logo.png"/>
				</div>
			</div>

			<div class="card-content">
				<span class="card-title center-align">Login</span>

				<form materialize>
					<div class="input-field col s10 offset-s1">
						<label for="username"> Username / Email</label>
						<input (input)="setUsername($event)" id="username" type="text"/>
					</div>
					<div class="input-field col s10 offset-s1">
						<label for="password"> Password </label>
						<input (input)="setPassword($event)" id="password" type="password"/>
					</div>
					<div class="row center-align">
							<div class="col s6 ">
									<button (click) = "onLogin($event)" class="waves-effect waves-light btn blue darken-3">Login</button>
							</div>
							<div class="col s6">
									<button  [routerLink]="['/signup']" class="waves-effect waves-light btn blue darken-3">Signup</button>
              </div>
              <br><div class="col s12 btnn">
              <a id="forget-link" [routerLink]="'/resetpassword'">Forgot password?</a>
              </div>
					</div>
				</form>

			</div>
		</div>
		<div class="footer-label"> DroneSym v1.0 </div>
	</div>
</div>
