.login-background{
	background-color: #f5f5f5;
}

.login-card{
	margin-top: 2%;
	margin-bottom: 20%;
}

.logo-container{
	height: 200px;
	width: 200px;
	margin-left: 26%;
	margin-right: auto;
}

.footer-label{
	font-style: italic;
	color: #5e5e5e;
}
.card .card-image img {
	width:100%;
	align-items: center;
}
.card  {
	min-width: 310px;
}
@media screen and (min-width:1500px) and (max-width: 2561px) {
.card .card-image img {
	width: 100%;
	margin-left:100px;
	}
	}
	@media screen and (max-width: 1024px) {
.card .card-image img {
	padding-right: 30px;
	}
	}

@media screen and (max-width: 780px) {
.row .col.offset-s4 {
	margin-left: 29%;
}
.card .card-image img {
	padding-right: 40px;
	}
}

.footer-label[_ngcontent-c1] {
	margin-left:70px;
	width:200px;
}

#forgetLink {
	margin-top: 25px;
}

@media screen and (max-width: 560px) {
.row .col.offset-s4 {
	margin-left: 18%;
}
	}
	@media screen and (max-width: 530px) {
.row .col.offset-s4 {
	margin-left: 16%;
}
.card .card-image img {
	padding-right: 30px;
	}
	}

		@media screen and (max-width: 470px) {
.row .col.offset-s4 {
	margin-left: 10%;
}
.card .card-image img {
	padding-right: 35px;
	}
	}
	@media screen and (max-width: 400px) {
.row .col.offset-s4 {
	margin-left: 6%;
}
.card .card-image img {
	padding-right: 40px;
	}
	}

			@media screen and (max-width: 330px) {
.row .col.offset-s4 {
	margin-left: 4%;
}
.card  {
	min-width: 270px;
}
.card .card-image img {
	padding-right: 50px;
	}
}
.btnn{
	text-align: center
}
.img-responsive {
	max-width: 100%;
	height: auto;
}
.dronesym-logo {
	text-align: center;
}