<nav>
  <div class="nav-wrapper light-blue darken-4">
    <a href="#" class="brand-logo">DroneSym</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="nav-button"><a routerLink="/dashboard/user" class="nav-button"> <i class="material-icons">account_circle</i> Dashboard</a></li>
      <li class="nav-button"><a routerLink="/dashboard/map"  routerLinkActive="active" class="nav-button"> <i class="material-icons">map</i>Map</a></li>
      <li class="nav-button"><a (click)="logout()" class="nav-button"> <i class="material-icons">power_settings_new</i>Logout</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
