<div class="info-pane">
	<div class="row">
		<h4 class="info-header"> Manage Users </h4>
		<div class="half-bar blue col s1"></div>
		<div class="half-bar yellow col s1"></div>
		<app-breadcrumb></app-breadcrumb>
	</div>

	<div class="row" *ngIf="userRole === 'admin'">
		<a (click)="showCreateUserDialog()" class="waves-effect waves-light blue btn"><i class="material-icons medium left">gamepad</i> Create User </a>
	</div>

	<app-user-signup [show]="showUserSignUpDialog" (onResponse)="onUserSignupResponse()"> </app-user-signup>
	<app-drones-box [show]="showDroneGroupsDialog" [drones]="groups" [message]="'Select drone groups'" (onResponse)="onDronesBoxResponse($event)"> </app-drones-box>

	<div class="row">
		<ul materialize="collapsible" class="collapsible col s10" data-collapsible="accordion">
			<li *ngFor="let user of users">

	            <div class="collapsible-header"><h5> {{ user.uname }} </h5></div>

	            <div class="collapsible-body">
	            	<a (click)="showGroupsDialog(user.id)" class="waves-effect waves-dark blue-text text-darken-2 btn-flat light-blue lighten-5"> <i class="material-icons large left">add</i> Add Groups</a>

	            	<ul  *ngIf="user.groups.length > 0" class="collection">
	            		<li *ngFor="let group of user.groups" class="collection-item"> {{ group.groupName }}<a (click)="removeFromGroup(user.id,group.groupId)" class="secondary-content tooltipped" data-delay="50" data-position="bottom" data-tooltip="Remove" materialize="tooltip"><i class="material-icons red-text">clear</i></a></li>
	            	</ul>
	            </div>
	        </li>
		</ul>
	</div>

	
</div>

