<div id="signupmodal" class="modal" materialize="modal" [materializeActions]="modalActions">
		<div class="card">
			<div class="card-content">

				<div class='signup-header valign-wrapper'>
					<img class="logo-badge" src="./assets/img/dronesym_logo.png"/>
					<span class="card-title center-align">Create User</span>
				</div>

				<form materialize>
					<div class="input-field col s10 offset-s1">
						<label for="username"> Username </label>
						<input (input)="setUsername($event)" id="username" type="text"/>
					</div>

					<div class="input-field col s10 offset-s1">
						<label for="email"> Email </label>
						<input (input)="setEmail($event)" id="email" type="text"/>
					</div>

					<div class="input-field col s10 offset-s1" >
						<select (change)="onRoleSelect($event)" materialize="material_select">
							<option value="" selected disabled> Choose Role </option>
							<option value="User" selected> User </option>
							<option value="Admin"> Admin </option>
						</select>
					</div>

					<div class="input-field col s10 offset-s1">
						<label for="password"> Password </label>
						<input (input)="setPassword($event)" id="password" type="password"/>
					</div>

					<div class="input-field col s10 offset-s1">
						<label for="retype"> Retype Password </label>
						<input (input)="setRetype($event)" id="retype" type="password"/>
					</div>


					<div class="row">
						<button (click) = "onSignup($event)" class="waves-effect waves-light btn blue darken-3">Create User</button>
						<a (click)="cancel()" class="center-align waves-effect waves-red btn-flat">Cancel</a>
					</div>
				</form>
			</div>
		</div>
</div>
